
<h1><center><%= @user.name %>'s Todo List </center></h1>
<p><em><center><%= Time.now.to_s %></center></em></p>

<div align=center>

<ul>
  <% @tasks.each do |item| %>
  <li><span>
    <%= item.description %>
    <% unless item.due.blank? %>
    <%= '- ' + item.due %>
    <% end %>
  </span></li>

    <form action='/delete_item/<%= item.id %>' method='POST'>
      <strong>Delete a Task:</strong>
      <input type='text' name='task' placeholder='task content' />
      <input type='submit' value='Save' class="button" />
    </form>
</ul>
</div>
<% end %>


<div align=center>
<form action='/<%= @user.id %>/new_item' method='POST'>
  <strong>Insert a new Task:</strong>
  <input type='text' name='description' placeholder='task content' />
  <input type='text' name='due' placeholder='due date' />
  <input type='submit' value='Save' class="button" />
</form>
</div>

<br />



<p>
  <a href="/">back</a>
</p>
